@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=LXGW+WenKai+TC&display=swap");
.contactInfo {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 20px;
      display: flex;
      gap: 10px;
      align-items: center;

      i {
        font-size: 20px;
        margin-right: 10px;
        color: #337ab7;
      }

      span {
        font-size: 20px;
        color: #666;
      }

      a {
        font-size: 20px;
        color: #fe5f1e;
        text-decoration: none;
        transition: 0.3s ease-in-out;

        &:hover {
          color: rgb(3, 245, 59);
          transition: 0.3s ease-in-out;
        }
      }

      select {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #f7f7f7;
        transition: all 0.3s ease;
      }
      select:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: #fe5f1e;
        color: white;
      }
    }
  }
}

.contactInfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.5;
  z-index: -1;
}

.contactInfo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-image: linear-gradient(to bottom, #f7f7f7, #fff);
  opacity: 0.5;
  z-index: -1;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 13rem;
  margin-bottom: 5rem;
}

.moreInfo {
  font-size: 23px;
  text-align: center;

  p {
    margin-bottom: 20px;
  }
}

.apps {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.feedbackInfo {
  margin-bottom: 20px;
}

.feedback {
  display: flex;
  justify-content: space-around;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 20px;

  p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
  }
  li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    font-weight: 700;
  }
  span {
    font-size: 10px;
  }
}

.botis {
  font-family: "LXGW WenKai TC", cursive;
}

.inputCity {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  transition: all 0.3s ease;
}

@media (max-width: 1184px) {
  .info {
    flex-direction: column;
    gap: 5rem;
  }

  a {
    flex-direction: column;
    display: flex;
    gap: 5px;
  }

  li {
    display: flex;
    flex-direction: column;
  }

  .inputCity {
    max-width: 55%;
  }
}

@media (max-width: 996px) {
  .feedback {
    flex-direction: column-reverse;
  }

  li {
    margin-bottom: 10px;
  }
}

@media (max-width: 542px) {
  .apps {
    flex-direction: column;
  }

  li {
    text-align: center;
  }
}
